<%
    const FORM_INPUT = 'form-input';

    class ConnectionElements
    {
        formClass = `connection-form`;
        containerClass = `${this.formClass}-modal`;
        inputNameId = `${this.formClass}-input-name`;
        inputTypeId = `${this.formClass}-input-type`;
        inputDatabaseNameId = `${this.formClass}-input-database-name`;
        inputHostId = `${this.formClass}-input-host`;
        inputFileId = `${this.formClass}-input-file`;
        inputUsernameId = `${this.formClass}-input-username`;
        inputPasswordId = `${this.formClass}-input-password`;
        spinner = `${this.formClass}-spinner`;
    }

    const ELE = new ConnectionElements();

%>

<div class="modal <%= ELE.containerClass %>" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Connection</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <div class="my-5 <%= ELE.spinner %>">
                    <%- include('../../includes/spinner'); -%>
                </div>


                <form class="<%= ELE.formClass %>">
                    <fieldset>
                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputNameId %>">Name</label>
                            <input type="text" class="form-control" id="<%= ELE.inputNameId %>" />
                        </div>

                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputTypeId %>">Type</label>
                            <select class="form-select" id="<%= ELE.inputTypeId %>">
                                <option value="1" selected>MySQL</option>
                                <option value="2">SQLite</option>
                                <option value="3">Access</option>
                                <option value="4">Postgres</option>
                            </select>
                        </div>

                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputDatabaseNameId %>">Database Name</label>
                            <input type="text" class="form-control" id="<%= ELE.inputDatabaseNameId %>" />
                        </div>
                        
                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputHostId %>">Host</label>
                            <input type="text" class="form-control" id="<%= ELE.inputHostId %>" />
                        </div>
                        
                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputFileId %>">File</label>
                            <input type="text" class="form-control" id="<%= ELE.inputFileId %>" />
                        </div>
                        
                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputUsernameId %>">Username</label>
                            <input type="text" class="form-control" id="<%= ELE.inputUsernameId %>" />
                        </div>
                        
                        <div class="<%= FORM_INPUT %>">
                            <label for="<%= ELE.inputPasswordId %>">Password</label>
                            <input type="password" class="form-control" id="<%= ELE.inputPasswordId %>" />
                        </div>

                        <div class="d-flex">
                            <button type="submit" class="btn btn-success btn-submit">Save</button>
                        </div>
                    </fieldset>
                </form>


            </div>
        </div>
    </div>
</div>