
<!DOCTYPE html>
<html>
<head>
    <%- include('../../includes/header'); -%>
    <title><%= title %></title>
</head>

<body>
    <%- include('../../includes/page-top-bundle'); -%>
    
    <div class="container-fluid mt-2">
        <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-2">
                <%- include('connections-list'); -%>
            </div>
        </div>
    </div>

    <%- include('connection-modal'); -%>
    
    <%- include('../../includes/footer'); -%>
    <script src="frontend/home.js"></script>
</body>

</html>